# -------------------------------------------
# Unity 에서 자동 생성되는 폴더 무시
# -------------------------------------------
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# -------------------------------------------
# Visual Studio / 기타 IDE 관련 파일 무시
# -------------------------------------------
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.userprefs
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# -------------------------------------------
# OS(운영체제)에서 생성되는 불필요 파일
# -------------------------------------------
.DS_Store
Thumbs.db
